@model Fondir.Bacheca.Dom.Entities.DettaglioIniziativa

@{
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}

<title>Fondir - Dettaglio Iniziative</title>

@if (Model == null)
{
    <hr />

    <div class="clearfix"></div>

    <div class="alert alert-danger" role="alert">
        <strong>Nessuna iniziativa trovata!</strong>
    </div>

    return;
}


@{ Html.RenderPartial("DettaglioIniziativa_Dati", Model); }

