<div style="border:1px solid #a5a5a5">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                @*<div class="titoliRicerca">
                    Cerca iniziativa...
                </div>*@
                @{ Html.RenderPartial("Filtri");}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @{ Html.RenderPartial("Iniziative");}
            </div>
        </div>
    </div>
</div>

