
<hr />

<footer>
    @*<div class="well well-sm" style="padding:10px">
        <div style="text-align:right">
            Fondir Fondo Paritetico Interprofessionale per la Formazione Continua
        </div>
    </div>*@
</footer>
